

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img, picture {
    display: block;
    max-width: 100%;
}





body {
    display:  flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 25px;
    padding-right: 25px;
}

#questionary-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#title-container {
    margin-bottom: 20px;
}


#title-container p {
    text-align: center;
}

#questions-group-container {
    padding-bottom: 50px;
}

.question-item-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.question-section {
    display: flex;
}

.question-selected .question-section {
    margin-bottom: 10px;
}

.question-section img {
    margin-left: auto;
}

.arrow {
    width: 20px;
    height: 20px;
}

.answer-section {
    display: none;
}

.question-selected .answer-section {
    display: block;
}





body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(#af67e9, #6565e7);
}

#main-container {
    max-width: 375px;
    border-radius: 25px;
    background-color: #ffffff;
    overflow: hidden;
}

#title-container p {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1d1e35;
}

.question-item-container {
    font-size: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#e7e7e9;
}

.question {
    color: #4a4b5e;
}

.arrow:hover {
    cursor: pointer;
}

.question-selected .question:hover {
    color: #4a4b5e;
}


.question:hover {
    cursor: pointer;
    color: #f47c57;
}

.question-selected .question {
    font-weight: 700;
}

.question-section img {
    height: 11px;
    width: 15px;
}

.question-selected .answer-section {
    font-size: 12px;
    color: #787887;     
}



@media (min-width: 576px) {
    #main-container {
        flex-direction: row;
        max-width: 1440px;
    }
    
    #image-container {
        flex-basis: 50%;
        position: relative;
    }

    #image-container div {
        position: relative;
    }

    #questionary-container {
        flex-basis: 50%;
        padding-top: 40px;
    }

    #title-container {
        margin-right: auto;
    }
}

